<nav class="nav">
  <div class="nav__left">
    <div class="facebook-icons">
      <div class="user-icons">
        <img src="/assets/images/img-profile-icon.jpg" />
        <div class="facebook-icons__icon-user">
          <i class="ri-arrow-down-s-line"></i>
        </div>
        <a class="user-pop"> الحساب </a>
      </div>
      <div class="facebook-icons__icon">
        <div class="num">
          <span>28</span>
        </div>
        <i class="ri-notification-2-fill"></i>
        <a class="notification-pop"> الأشعارات </a>
      </div>
      <div class="facebook-icons__icon messenger-icon">
        <div class="num">
          <span>48</span>
        </div>
        <i class="ri-messenger-fill"></i>
        <a class="messenger-pop"> Messenger </a>
      </div>
    </div>
  </div>

  <div class="nav__middle">
    <div class="input-box__searsh">
      <label for="search-input">
        <input
          dir="rtl"
          type="search"
          id="search-input"
          placeholder="بحث في فيسبوك"
        />
      </label>
      <i class="ri-search-2-line"></i>
    </div>
  </div>

  <div class="nav__right">
    <div class="facebook-logo">
      <a href="/">
        <img src="/assets/images/Facebook-Logo.svg" width="160" />
      </a>
    </div>
  </div>
</nav>
