<div class="wrapper">

  <div class="stories">
    <div class="header">
      <a class="header--nav">
        <li class="linee">
          <span>القصص</span>
          <i class="ri-book-open-fill nav-icon"></i>
        </li>
      </a>
      
      <a class="header--nav">
        <li>
          <span>ريلز</span>
          <i class="ri-live-fill nav-icon" style="color: #656565;"></i>
        </li>
      </a>

      <a class="header--nav">
        <li>
          <span>الغرف</span>
          <i class="ri-video-add-fill nav-icon" style="color: #656565;"></i>
        </li>
      </a>
      <div class="line-nav"></div>
    </div>
    <story class="story1">
      <div class="user-image"><img class="rounded" src="/assets/images/img-profile-icon.jpg" /></div>
      <div class="story--username">Mostafa Khaled</div>
    </story>
    <story class="story2">
      <div class="user-image"><img class="rounded" src="/assets/images/img-profile-icon.jpg" /></div>
      <div class="story--username">Sama Mohammed</div>
    </story>
    <story class="story3">
      <div class="user-image"><img class="rounded" src="/assets/images/img-profile-icon.jpg" /></div>
      <div class="story--username">Ashraqat Mohammed</div>
    </story>
    <story class="story4">
      <div class="user-image"><img class="rounded" src="/assets/images/img-profile-icon.jpg" /></div>
      <div class="story--username">Noor Ahmed</div>
    </story>
    <story class="story5">
      <div class="user-image"><img class="rounded" src="/assets/images/img-profile-icon.jpg" /></div>
      <div class="story--username">Menna Khaled</div>
    </story>
  </div>

  <div class="creat-post">
    <div class="input-box__text" dir="rtl">
      <img src="/assets/images/img-profile-icon.jpg" alt="" class="creat-post__image">
      <label for="creat-post">
        <input type="text" id="creat-post" placeholder="بم تفكر يا حبيبي !">
      </label>
    </div>

  <div class="creat-post__buttons">
    
    <div class="creat-post__buttons__button">
      
      <i class="ri-live-fill icon-post" style="color: rgb(209, 52, 52);"></i>
      <span>بث مباشر</span>
    </div>

    <div class="creat-post__buttons__button">
      <i class="ri-image-add-fill icon-post" style="color: rgb(47, 175, 47);"></i>
      <span>صورة/فيديو</span>
    </div>

    <div class="creat-post__buttons__button">
      <i class="ri-user-smile-line icon-post" style="color: rgb(114, 114, 31);"></i>
      <span>شعور/نشاط</span>
    </div>

  </div>
</div>

<div class="news-feed" bis_skin_checked="1">
    <header class="news-feed__header">
        <div class="news-feed__header__post-userimage" bis_skin_checked="1">
            <img src="/assets/images/img-profile-icon.jpg" alt="">
        </div>
        <div class="news-feed__header__post-meta" bis_skin_checked="1">
            <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
            <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
                <span class="privacy"><i class="ri-earth-line"></i></span>
                <div class="date" bis_skin_checked="1">2d ago</div>
            </div>
        </div>
        <div class="news-feed__header__options" bis_skin_checked="1">...</div>
    </header>

    <section class="news-feed__feed">
        <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
        <img class="news-feed__feed__image" src="https://picsum.photos/id/10/600/340" width="100%">
    </section>

    <footer class="news-feed__footer">
        <div class="news-feed__footer__reactions" bis_skin_checked="1">
            <i class="ri-thumb-up-fill"></i>
            <i class="ri-heart-fill"></i>
            <i class="ri-emotion-happy-fill"></i>
        </div>
        <div class="news-feed__comments" bis_skin_checked="1">
            19 Comments
        </div>            
    </footer>

    <div class="news-feed__comment-box" bis_skin_checked="1">
        <div class="input-box__text" bis_skin_checked="1">
            <img src="./assets/images/img-profile-icon.jpg" alt="">
            <label for="create-comment">
                <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
            </label>
        </div>
    </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/14/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/18/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/10/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/500/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/2/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/28/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/18/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/88/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/90/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/128/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/70/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/95/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/50/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>
<div class="news-feed" bis_skin_checked="1">
  <header class="news-feed__header">
      <div class="news-feed__header__post-userimage" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta" bis_skin_checked="1">
          <div class="news-feed__header__post-meta__name" bis_skin_checked="1">Mostafa Khaled</div>
          <div class="news-feed__header__post-meta__info" bis_skin_checked="1">
              <span class="privacy"><i class="ri-earth-line"></i></span>
              <div class="date" bis_skin_checked="1">2d ago</div>
          </div>
      </div>
      <div class="news-feed__header__options" bis_skin_checked="1">...</div>
  </header>

  <section class="news-feed__feed">
      <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ducimus soluta optio neque, perspiciatis animi ratione aperiam doloribus quae sapiente.</p>
      <img class="news-feed__feed__image" src="https://picsum.photos/id/100/600/340" width="100%">
  </section>

  <footer class="news-feed__footer">
      <div class="news-feed__footer__reactions" bis_skin_checked="1">
          <i class="ri-thumb-up-fill"></i>
          <i class="ri-heart-fill"></i>
          <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__comments" bis_skin_checked="1">
          19 Comments
      </div>            
  </footer>

  <div class="news-feed__comment-box" bis_skin_checked="1">
      <div class="input-box__text" bis_skin_checked="1">
          <img src="./assets/images/img-profile-icon.jpg" alt="">
          <label for="create-comment">
              <input type="text" id="create-comment" placeholder="Comment as Mostafa?">
          </label>
      </div>
  </div>
</div>

</div>