<div class="wrapper" dir="ltr">
  <h4 class="sp-title">مُموَّل</h4>

  <div class="facebook-sponsers">
    <div class="facebook-sponsers__sponser">
      <img
        src="/assets/images/fb-sponser-1.jpg"
        alt="sponser"
        class="facebook-sponsers__sponser--image"
      />
      <div class="facebook-sponsers__sponser--text">
        <div class="title">12 مليون جيجا هدية لكل عملاء الموبايل</div>
        <div class="subtitle">te.eg</div>
      </div>
    </div>

    <div class="facebook-sponsers__sponser">
      <img
        src="/assets/images/fb-sponser-2.jpg"
        alt="sponser"
        class="facebook-sponsers__sponser--image"
      />
      <div class="facebook-sponsers__sponser--text">
        <div class="title">12 مليون جيجا هدية لكل عملاء الموبايل</div>
        <div class="subtitle">te.eg</div>
      </div>
    </div>
  </div>

  <h4 class="pp-title" dir="rtl">
    صفحاتك وملفاتك الشخصية
    <i class="ri-more-fill"></i>
  </h4>

  <div class="pages">
    <section class="sec">
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/60/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/61/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/62/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/63/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/64/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/65/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/66/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/67/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/68/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/69/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/70/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/71/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/72/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/73/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/74/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/75/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/76/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/77/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/78/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/79/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/80/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/81/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/82/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/83/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/84/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/85/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/80/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/87/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/88/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/89/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/90/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/91/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/92/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/93/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/94/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/95/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/96/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/90/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/98/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/99/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Sama Mohammed </span>
        <img
          src="https://picsum.photos/id/100/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Mostafa Khaled </span>
        <img
          src="https://picsum.photos/id/101/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Abo Sama </span>
        <img
          src="https://picsum.photos/id/102/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Osama Elzero </span>
        <img
          src="https://picsum.photos/id/103/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span> Ahmed Shrif </span>
        <img
          src="https://picsum.photos/id/104/30/30"
          class="group-icon"
          alt="Groups"
        />
      </a>
      <a href="/" class="home">
        <span class="title-add"> أنشاء مجموعة جديدة </span>
        <i class="ri-add-fill add-group"></i>
      </a>
    </section>
  </div>
</div>
