<div class="wrapper" style=" margin: 0px -75px 4px -50px;
      position: static;
      top: 0px;">

<div class="features">
  <section class="sec">
    <a href="/" class="home">
      <span> الصفحة الرئيسية</span>
      <i class="ri-home-4-fill"></i>
    </a>
    <a href="/" class="home">
      <span> Mostafa Khaled </span>
      <img src="/assets/images/img-profile-icon.jpg" class="user-icon" width="27" alt="user_icon">
    </a>
  </section>
<div class="line"></div>
  <section class="sec">
        <a href="/" class="home">
      <span> الأصدقاء </span>
      <i class="ri-group-fill"></i>
    </a>
    <a href="/" class="home">
      <span> المجموعات </span>
      <i class="ri-team-fill"></i>
    </a>
    <a href="/" class="home">
      <span> الأحدث </span>
      <i class="ri-timer-flash-line"></i>
    </a>
    <a href="/" class="home">
      <span> Watch </span>
      <i class="ri-movie-line"></i>
    </a>
    <a href="/" class="home">
      <span> الذكريات </span>
      <i class="ri-history-fill"></i>
    </a>
    <a href="/" class="home">
      <span> عرض الكل </span>
      <i class="ri-grid-fill"></i>
    </a>
  </section>
  <div class="line"></div>
  <section class="sec">
    <a href="/" class="home">
      <span> Group Web 1 </span>
      <img src="https://picsum.photos/id/50/30/30" class="group-icon" alt="Groups">
    </a>
    <a href="/" class="home">
      <span> Group Web 2 </span>
      <img src="https://picsum.photos/id/7/30/30" class="group-icon" alt="Groups">
    </a>
    <a href="/" class="home">
      <span> Group Web 3 </span>
      <img src="https://picsum.photos/id/5/30/30" class="group-icon" alt="Groups">
    </a>
    <a href="/" class="home">
      <span> عرض كل المجموعات </span>
      <i class="ri-team-fill"></i>
    </a>
  </section>
  <div class="line"></div>
  <section class="sec">
    <a href="/" class="home">
      <span> Sama Mohammed </span>
      <img src="https://picsum.photos/id/60/30/30" class="group-icon" alt="Groups">
    </a>
    <a href="/" class="home">
      <span> Mostafa Khaled </span>
      <img src="https://picsum.photos/id/70/30/30" class="group-icon" alt="Groups">
    </a>
    <a href="/" class="home">
      <span> Abo Sama </span>
      <img src="https://picsum.photos/id/80/30/30" class="group-icon" alt="Groups">
    </a>
    <a href="/" class="home">
      <span> Osama Elzero </span>
      <img src="https://picsum.photos/id/90/30/30" class="group-icon" alt="Groups">
    </a>
    <a href="/" class="home">
      <span> Ahmed Shrif </span>
      <img src="https://picsum.photos/id/85/30/30" class="group-icon" alt="Groups">
    </a>
    <a href="/" class="home">
      <span> عرض كل الاختصارات </span>
      <i class="ri-link-m"></i>
  </section>
  <div class="footer" dir="rtl">
    <a>
      الخصوصية . الشروط . الأعلانات . <i class="ri-arrow-right-s-fill"></i> Ad Choices . ملفات تعريف الأرتباط . المزيد . حقوق النشر
      محفوظة Mostafa <i class="ri-copyright-line"></i>  2023
    </a>
  </div>
</div>

</div>